
## Test Results for gabrielt01

### Playwright
- Total tests: 17
- Passed tests: 17

### LightHouse

- Performance score: 0
- Accessibility score: 0
- Best practices score: 0
- SEO score: 0
- Average Lighthouse score: 0
